<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ with site.Home }}{{ .RelPermalink }}{{ else }}/{{ end }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            {{ $url := .URL }}
            {{ $isExternal := findRE `^http` $url }}
            {{ $isRootPath := hasPrefix $url "/" }}
            {{ $isPdf := findRE `\.pdf$` (strings.ToLower $url) }}
            {{ $href := $url | relLangURL }}
            {{ if findRE `^#` $url }}
              {{ $homeURL := "/" }}
              {{ with site.Home }}
                {{ $homeURL = .RelPermalink }}
              {{ end }}
              {{ if not $.IsHome }}
                {{ $href = printf "%s%s" $homeURL $url }}
              {{ else }}
                {{ $href = $url }}
              {{ end }}
            {{ else if $isExternal }}
              {{ $href = $url }}
            {{ else if $isRootPath }}
              {{ $href = $url | relURL }}
            {{ end }}
            <li class="m-3 inline-block">
              <a
                {{ if or $isExternal $isPdf }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ $href }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
          {{ with site.Params.privacy_policy.link }}
            <li class="m-3 inline-block">
              <a href="{{ . | relURL }}" target="_blank" rel="noopener">
                {{ i18n "privacy_policy" }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>

    {{ if site.Params.company }}
      <div
        class="row border-t border-border pb-8 pt-8 dark:border-darkmode-border">
        <div class="col-12">
          {{ partial "company-legal" (dict "variant" "footer") }}
        </div>
      </div>
    {{ end }}
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
